body { 
	font-family: Arial, 
	sans-serif; padding: 20px; 
}

input:not([type="checkbox"]), select { 
	padding: 5px; 
}

.checkbox-container {
    display: flex;
    align-items: center; /* Center align the items vertically */
    margin-bottom: 10px; /* Add some space between checkboxes */
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px; /* Add space between the checkbox and the label */
}

.error { 
	color: red; 
	font-size: 0.8em; 
}

/* Form group layout to align label and input */
.form-group {
    display: flex;
	align-items: flex-start; /* Center align the items vertically */
    margin-bottom: 5px;      /* Add spacing between fields */
}

.input-error-group {
	display: flex;
	flex-direction: column;
	width: 80%;          /* Set maximum width for all inputs */
	max-width: 200px;
}

.form-group label {
    width: 150px;             /* Adjust the label width */
    margin-right: 15px;
    text-align: right;        /* Align labels to the right */
	margin-top: 5px;
}