body { 
	font-family: Arial, 
	sans-serif; 
    padding: 20px; 
}

input:not([type="checkbox"]), select { 
	padding: 5px; 
}

.checkbox-container {
    display: flex;
    align-items: center; /* Center align the items vertically */
    margin-bottom: 10px; /* Add some space between checkboxes */
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px; /* Add space between the checkbox and the label */
}

.error { 
	color: red; 
	font-size: 0.8em; 
}

/* Form group layout to align label and input */
.form-group {
    display: flex;
	align-items: flex-start; /* Center align the items vertically */
    margin-bottom: 5px;      /* Add spacing between fields */
}

.input-error-group {
	display: flex;
	flex-direction: column;
	width: 80%;          /* Set maximum width for all inputs */
	max-width: 200px;
}

.form-group label {
    width: 150px;             /* Adjust the label width */
    margin-right: 15px;
    text-align: right;        /* Align labels to the right */
	margin-top: 5px;
}

.input-output-container {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
  min-height: calc(100vh - 200px); /* Assuming footer height is 60px */
}

.output-container {
	display: flex;
	flex-direction: column;
	align-items: center; 
	width: 45%; 
}

.form-container {
	width: 45%; 
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 90%;
}

footer .attribution {
  font-size: 0.8em;    /* Makes the text smaller */
  color: #888;         /* Light gray color to make it less prominent */
  text-align: center;  /* Centers the attribution text */
  margin-top: 20px;    /* Adds some space at the top */
}

/* Style the link (so it's also subtle) */
footer .attribution a {
  color: #888;         /* Make the link color match the text */
  text-decoration: none; /* Remove underline from the link */
}

footer .attribution a:hover {
  color: #555;         /* Slightly darker color on hover */
  text-decoration: underline; /* Add underline on hover for accessibility */
}

/* Styles for the nutrition table */
#nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#nutrition-table th, #nutrition-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#nutrition-table th {
    background-color: #f2f2f2;
    text-align: left;
}

#nutrition-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#nutrition-table tr:hover {
    background-color: #f1f1f1;
}

#nutrition-table tr {
    text-align: right;
}

#nutrition-table td:first-child {
    text-align: left;
}

/* Style the footer row to make it stand out */
#resultRow {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: right;
}

/* Optional: Add border or other styling to further distinguish the footer */
#resultRow td {
    border-top: 2px solid #000;
    padding: 10px;
}

.summary-cards {
    display: flex;
    justify-content: space-around;
    margin: 0 0 20px 0;
}

.card {
    background-color: #f7f7f7;
    padding: 5px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
    min-height: 50px;
}

.card p {
    font-size: 1.5em;
    font-weight: bold;
}

.card .unit {
    font-size: 0.9em;
    color: #666;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

/* Style the difference row */
#pctDiffRow {
    font-style: italic;
    color: #666; /* Light gray color */
    text-align: right;
}

/* Red color for differences over 10% */
#pctDiffRow .high-difference {
    color: red;
}